torch
torchvision
torchaudio
torchdata
torch_geometric
pandas
# dgl==0.9.1.post1
scanpy
POT
scikit-learn
scikit-misc
pydantic
jupyter
ipykernel
umap-learn
matplotlib
seaborn
networkx
ogb
statsmodels
nbformat